{{- if .Values.enableNetworkPolicies }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "hephaestus.buildkit.fullname" . }}
  labels:
    {{- include "hephaestus.buildkit.labels.standard" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "hephaestus.buildkit.labels.matchLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: {{ .Values.buildkit.service.port }}
          protocol: TCP
        {{- if .Values.istio.ambient }}
        - port: 15008 # Allow Istio Ambient mode's HBONE traffic
          protocol: TCP
        {{- end }}
      from:
        - podSelector:
            matchLabels:
              {{- include "hephaestus.controller.labels.matchLabels" . | nindent 14 }}
{{- end }}
