{{- if .Values.buildkit.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hephaestus.buildkit.serviceAccountName" . }}
  labels:
    {{- include "hephaestus.buildkit.labels.standard" . | nindent 4 }}
  {{- with .Values.buildkit.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
