apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hephaestus.manager.name" . }}
  labels:
    {{- include "hephaestus.controller.labels.standard" . | nindent 4 }}
spec:
  replicas: {{ .Values.controller.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "hephaestus.controller.labels.matchLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/controller/secret.yaml") . | sha256sum }}
        {{- if .Values.controller.metrics.enabled }}
        prometheus.io/port: "{{ .Values.controller.manager.metricsPort }}"
        prometheus.io/scrape: "true"
        {{- end }}
        {{- with .Values.controller.podAnnotations }}
        {{- toYaml . | trimSuffix "\n" | nindent 8 }}
        {{- end }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "hephaestus.controller.labels.matchLabels" . | nindent 8 }}
        {{- with .Values.controller.podLabels }}
        {{- toYaml . | trimSuffix "\n" | nindent 8 }}
        {{- end }}
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.controller.manager.cloudRegistryAuth.azure }}
        {{- if and .enabled .workloadIdentity }}
        azure.workload.identity/use: "true"
        {{- end }}
        {{- end }}
    spec:
      {{- include "hephaestus.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "hephaestus.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.controller.podSecurityContext | nindent 8 }}
      {{- if .Values.waitForNetworking }}
      initContainers:
        - name: wait-for-networking
          securityContext:
            {{- toYaml .Values.controller.manager.containerSecurityContext | nindent 12 }}
          image: {{ .Values.curl_image }}
          imagePullPolicy: {{ .Values.controller.manager.image.pullPolicy }}
          command: [ 'sh', '-c' ]
          args:
            - |
              # Init containers seem to fix https://dominodatalab.atlassian.net/browse/DOM-70981
              # We're not sure why, but this init container is here as a temporary solution.
              echo "1 second sleep..."
              sleep 1
              echo "...done"
          {{- with .Values.controller.manager }}
          {{- if or .extraEnvVars $.Values.podEnv }}
          env:
            {{- with .extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
            {{- end }}
            {{- with $.Values.podEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- end }}
      {{- end }}
      containers:
        - name: manager
          securityContext:
            {{- toYaml .Values.controller.manager.containerSecurityContext | nindent 12 }}
          image: {{ include "hephaestus.manager.image" . }}
          imagePullPolicy: {{ .Values.controller.manager.image.pullPolicy }}
          command: ["hephaestus-controller"]
          args:
            - start
            - --config=/etc/hephaestus/config.yaml
          {{- with .Values.controller.manager }}
          {{- if or .extraEnvVars .cloudRegistryAuth.azure.enabled .cloudRegistryAuth.gcp.mountedCredentials.secretName $.Values.podEnv }}
          env:
            {{- with .extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
            {{- end }}
            {{- with .cloudRegistryAuth.azure }}
            {{- if .enabled }}
            - name: AZURE_TENANT_ID
              value: {{ required "Azure tenantID is required when enabled!" .tenantID | quote }}
            - name: AZURE_CLIENT_ID
              value: {{ required "Azure clientID is required when enabled!" .clientID | quote }}
            - name: AZURE_CLIENT_SECRET
              value: {{ .clientSecret | quote }}
            {{- end }}
            {{- end }}
            {{- if .cloudRegistryAuth.gcp.mountedCredentials.secretName }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /google-creds/key.json
            {{- end }}
            {{- with $.Values.podEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- end }}
          ports:
            {{- with .Values.controller.manager }}
            - name: health
              containerPort: {{ .healthProbePort }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .metricsPort }}
              protocol: TCP
            - name: webhooks
              containerPort: {{ .webhookPort }}
              protocol: TCP
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
          resources:
            {{- toYaml .Values.controller.manager.resources | nindent 12 }}
          volumeMounts:
            - name: config-vol
              readOnly: true
              mountPath: /etc/hephaestus/config.yaml
              subPath: config.yaml
            - name: webhook-vol
              readOnly: true
              mountPath: /tmp/k8s-webhook-server/serving-certs
            {{- if .Values.buildkit.mtls.enabled }}
            - name: mtls-vol
              readOnly: true
              mountPath: /etc/hephaestus/x509
            {{- end }}
            {{- if .Values.controller.vector.enabled }}
            - name: log-vol
              mountPath: {{ include "hephaestus.logfileDir" . | quote }}
            {{- end }}
            {{- if .Values.controller.manager.cloudRegistryAuth.gcp.mountedCredentials.secretName }}
            - name: google-creds
              mountPath: /google-creds/key.json
              subPath: key.json
              readOnly: true
            {{- end }}
            {{- with .Values.controller.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.controller.manager.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        {{- if .Values.controller.vector.enabled }}
        - name: vector
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            runAsUser: 65532
            runAsGroup: 65532
          image: {{ include "hephaestus.vector.image" . }}
          imagePullPolicy: {{ .Values.controller.vector.image.pullPolicy }}
          args:
            - --config
            - /etc/vector/vector.yaml
          {{- with $.Values.podEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /health
              port: 8686
          readinessProbe:
            httpGet:
              path: /health
              port: 8686
          resources:
            {{- toYaml .Values.controller.vector.resources | nindent 12 }}
          volumeMounts:
            - name: config-vol
              readOnly: true
              mountPath: /etc/vector
            - name: log-vol
              mountPath: {{ include "hephaestus.logfileDir" . | quote }}
            - name: log-vol
              mountPath: /var/lib/vector
            {{- with .Values.controller.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.controller.vector.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        {{- end }}
      volumes:
        - name: config-vol
          secret:
            secretName: {{ include "hephaestus.configSecretName" . }}
        - name: webhook-vol
          secret:
            secretName: {{ include "hephaestus.webhook.secret" . }}
        {{- if .Values.buildkit.mtls.enabled }}
        - name: mtls-vol
          secret:
            secretName: {{ include "hephaestus.buildkit.clientSecret" . }}
        {{- end }}
        {{- if .Values.controller.vector.enabled }}
        - name: log-vol
          emptyDir: {}
        {{- end }}
        {{- with .Values.controller.manager.cloudRegistryAuth.gcp.mountedCredentials.secretName }}
        - name: google-creds
          secret:
            defaultMode: 420
            secretName: {{ . | quote }}
            items:
              - key: {{ $.Values.controller.manager.cloudRegistryAuth.gcp.mountedCredentials.keyName | quote }}
                path: key.json
        {{- end }}
        {{- with .Values.controller.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.controller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.priorityClassName }}
      priorityClassName: {{ . | quote }}
      {{- end }}
