{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "hephaestus.controller.labels.standard" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "hephaestus.controller.labels.matchLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    {{- with .Values.controller }}
    - ports:
        - port: {{ .webhookPort }}
          protocol: TCP
        - port: {{ .healthProbePort }}
          protocol: TCP
    - ports:
        - port: {{ .metricsPort }}
          protocol: TCP
      from:
        - podSelector:
            matchLabels:
              {{- toYaml .metrics.podLabels | trimSuffix "\n" | nindent 14 }}
          {{- with .metrics.namespaceLabels }}
          namespaceSelector:
            matchLabels:
              {{- toYaml . | trimSuffix "\n" | nindent 14 }}
          {{- end }}
    {{- end }}
{{- end }}
