{{- if .Values.controller.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hephaestus.serviceAccountName" . }}
  labels:
    {{- include "hephaestus.controller.labels.standard" . | nindent 4 }}
  {{- with .Values.controller }}
  {{- if or .serviceAccount.annotations .manager.cloudRegistryAuth.gcp.enabled }}
  annotations:
    {{- with .serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if .manager.cloudRegistryAuth.gcp.enabled }}
    "iam.gke.io/gcp-service-account": {{ required "GCP ServiceAccount is required when enabled!" .manager.cloudRegistryAuth.gcp.serviceAccount | quote }}
    {{- end }}
    {{- with .manager.cloudRegistryAuth.azure }}
    {{- if and .enabled (not .clientSecret) }}
    "azure.workload.identity/client-id": {{ required "Azure clientID is required when enabled!" .clientID | quote }}
    "azure.workload.identity/tenant-id": {{ required "Azure tenantID is required when enabled!" .tenantID | quote }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
