{{- $issuerKind := ternary "Issuer" "ClusterIssuer" (eq .Values.certManagerNamespace (include "hephaestus.buildkit.namespace" .)) }}
apiVersion: cert-manager.io/v1
kind: {{ $issuerKind }}
metadata:
  name: {{ include "hephaestus.certmanager.selfSignedIssuer" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  selfSigned: {}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "hephaestus.certmanager.selfSignedCA" . }}
  namespace: {{ .Values.certManagerNamespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  isCA: true
  commonName: {{ include "hephaestus.certmanager.selfSignedCA" . }}
  secretName: {{ include "hephaestus.certmanager.rootTLS" . }}
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    group: cert-manager.io
    kind: {{ $issuerKind }}
    name: {{ include "hephaestus.certmanager.selfSignedIssuer" . }}

---
apiVersion: cert-manager.io/v1
kind: {{ $issuerKind }}
metadata:
  name: {{ include "hephaestus.certmanager.caIssuer" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  ca:
    secretName: {{ include "hephaestus.certmanager.rootTLS" . }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "hephaestus.webhook.certificate" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  dnsNames:
    - {{ include "hephaestus.webhook.service" . }}.{{ .Release.Namespace }}.svc
    - {{ include "hephaestus.webhook.service" . }}.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    kind: {{ $issuerKind }}
    name: {{ include "hephaestus.certmanager.caIssuer" . }}
  secretName: {{ include "hephaestus.webhook.secret" . }}

{{- if .Values.buildkit.mtls.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "hephaestus.buildkit.fullname" . }}-client
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  commonName: {{ include "hephaestus.certmanager.selfSignedCA" . }}
  usages:
    - client auth
  issuerRef:
    kind: {{ $issuerKind }}
    name: {{ include "hephaestus.certmanager.caIssuer" . }}
  secretName: {{ include "hephaestus.buildkit.clientSecret" . }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "hephaestus.buildkit.fullname" . }}-server
  namespace: {{ include "hephaestus.buildkit.namespace" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  dnsNames:
    - "*.{{ include "hephaestus.buildkit.fullname" . }}"
    - "*.{{ include "hephaestus.buildkit.fullname" . }}.{{ include "hephaestus.buildkit.namespace" . }}"
  usages:
    - server auth
  issuerRef:
    kind: {{ $issuerKind }} 
    name: {{ include "hephaestus.certmanager.caIssuer" . }}
  secretName: {{ include "hephaestus.buildkit.serverSecret" . }}
{{- end }}
