name: Functional Tests

on:
  issue_comment:
    types: [created]
  pull_request:
    types: [synchronize]

jobs:
  gate:
    # if: ${{ github.event.issue.pull_request && github.event.comment.body == '/functional-test' }}
    runs-on: ubuntu-latest
    steps:
      - name: Update PR Comment
        if: github.event_name != 'pull_request'
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: rocket
          body: |
            <br>
            **Launched workflow:** [Functional tests](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

  aks:
    name: AKS image building
    runs-on: ubuntu-latest
    needs: [gate]
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run functional test suite
        uses: ./.github/actions/cloud-image-building
        env:
          AZURE_LOCATION: ${{ secrets.AZURE_LOCATION }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        with:
          target: aks
          github_token: ${{ secrets.GITHUB_TOKEN }}

  gke:
    name: GKE image building
    runs-on: ubuntu-latest
    needs: [gate]
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Run functional test suite
        uses: ./.github/actions/cloud-image-building
        env:
          GCP_REGION: ${{ secrets.GCP_REGION }}
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        with:
          target: gke
          github_token: ${{ secrets.GITHUB_TOKEN }}

  eks:
    name: EKS image building
    runs-on: ubuntu-latest
    needs: [gate]
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Run functional test suite
        uses: ./.github/actions/cloud-image-building
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
        with:
          target: eks
          github_token: ${{ secrets.GITHUB_TOKEN }}
